

*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: whitesmoke;
}
.top-header{
     padding:0;
     background-color: #1A2238;
     height:400px;
     width:100%;
     margin:0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
#darkMode{
    color:wheat;
    padding-top:20px;
}
#darkModeBtn{
    border-radius: 50%;
    font-weight: bold;
}

.header-title{
    color:white;
    font-size:95px;
    text-align: center;
    width:100%;
    
}
.highlight{
    color:#9DAAF2;
}
.header-text{
    width:400px;
    letter-spacing: 4px;
    font-family: monospace;
    color:#FF643D;
    padding:0 30px;
    font-size:32px;
}
nav{
    position:sticky;
    top:0;
}
ul{
    margin:0;
    padding:0;
    background-color: #1A2238;
    position: sticky;
    top:20px;
    list-style-type: none;
    display: flex;
    justify-content: center;

}  
ul li{
    text-align: center;
}
a{
    padding:20px 20px;
    display: block;
}
li a{
    color:white;
    text-decoration: none;
    font-size:16px;
    text-align: center;
    font-family: verdana;
    letter-spacing: 2px;
}

li a:hover{
    color:#FF643D;
    border-bottom:1px solid #FF643D;
    background-color: white;
}

section{
     width:100%;
     margin:0px 0;
     padding-top:50px;
     padding-bottom:40px;
     white-space: normal;
}

.section-title{  
    padding:10px;
    padding-bottom: 30px;
    z-index:1;
    max-width: 1100px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom: 10px;
    
}
.section-title h1{
    font-size:32px;
    letter-spacing: 2px;
    text-shadow:-1px 0 1px #1A2238,0 1px 1px #1A2238,1px 0 1px #1A2238,0 -1px 1px #1A2238;
    text-align:left;
    margin:0;
    font-family:cursive;
    color:#1A2238;
    display:inline-block;
    padding-left:20px;
    white-space:pre-wrap;
}

.inner-section{
    box-shadow:10px 0px 20px gray;
    background-color: whitesmoke;
    padding: 20px 0;
    max-width: 1100px;
    margin:20px auto;
    margin-top:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.content{
    width:500px;
    height: 500px;
    margin:10px 0;
}
.image-content{
   box-shadow:0px 0px 20px gray;
   border-radius: 50%;
   background: url(./1.jpg);
   background-position:center bottom;
   background-size: cover;
}

.text-content{
   background-color: whitesmoke;
   color:#1A2238;
   padding:10px 100px;
   font-size: 20px;
   line-height: 34px;
   word-wrap: break-word;
   word-break: keep-all;
   
}
.text-content .bold{
    font-weight: bolder;
    font-size: 20px;
}

.text-content-right{
    background-color: whitesmoke;
    padding:0px 100px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1px;
    word-wrap:break-word;
    word-break:keep-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .text-content-right .bold{
    line-height: 150%;
    font-weight: bold;
}

 .text-content-right .ans{
     font-size: 20px;
 }
footer{
    z-index: 1;
    margin-top:100px;
    width:100%;
    height: 80px;
    background-color:black;
    color:white;
    font-size:18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {

    .header-title{
        font-size:60px;
        word-break: keep-all;
    }
    .header-text{
        width:250px;
        padding:0 20px;
        font-size:28px;
    }
    ul li{
        text-align: center;
    }
    a{
        padding:15px 10px;
        display: block;
    }
    li a{
        word-break: keep-all;
        font-size:16px;
        letter-spacing: 0px;
    }

    section{
         width:100%;
         margin:0px auto;
         padding-top:50px;
         padding-bottom:40px;
         white-space: normal;
    }

    .section-title{
        padding:10px;
        padding-bottom: 30px;
        z-index:1;
        max-width: 1100px;
        margin:0 auto;
        margin-top:20px;
        margin-bottom: 10px;

    }
    .section-title h1{
        font-size:28px;	
        display: block;		
        text-align:center;
    }
    .inner-section{
        padding: 20px 0;
        max-width: 600px;
        margin:20px auto;
        margin-top:0;	
    }
    .content{
        height: auto;
        margin:10px auto;
    }
    .image-content{
        width:300px;
        height:300px;
        border-radius: 100%;
    }
    .text-content{
       padding:10px 60px;
       font-size: 20px;
       line-height: 36px;
    }
    .text-content-right{
        
        width:100%;
        font-size: 20px;
        line-height: 15px;
        word-wrap: keep-all;
     }
     .text-content-right .bold{
        line-height: 60px;
        margin: 0;
        font-weight: bold;
    }
     .text-content-right .ans{
         font-size: 20px;
        
         line-height: 20px;
     }
    footer{
        font-size:16px;
    }
   }
  